
@{
    ViewData["Title"] = "Booked";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-4 jumbotron bg-success">
            Booking Successful
        </div>
    </div>
</div>

